DEMO_DB_PATH=./data/demo.db
CORS_ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
AUTH_REMOTE_USER_HEADER=X-Remote-User
AUTH_DEMO_USER=ENTERPRISE\admin
AUTH_USERNAME_DOMAIN=ENTERPRISE
AUTH_AUTO_PROVISION=1
AUTH_DEFAULT_ROLE_ID=1
ADMIN_ROLE_IDS=1
LOG_LEVEL=INFO
