DB_SERVER=YOUR_SQL_SERVER_NAME
DB_NAME=YOUR_DATABASE_NAME
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_ENCRYPT=1
DB_TRUST_SERVER_CERTIFICATE=0
# DB_USER=YOUR_DB_USERNAME
# DB_PASSWORD=YOUR_DB_PASSWORD

AUTH_WINDOWS_ENABLED=1
AUTH_REMOTE_USER_HEADER=X-Remote-User
AUTH_TRUSTED_PROXY_IPS=127.0.0.1,::1
AUTH_ENFORCE_TRUSTED_PROXY_IPS=1
AUTH_USERNAME_DOMAIN=ENTERPRISE
# DIRECTORY_SEARCH_ENABLED=0
# DIRECTORY_SERVER=ldap://your-directory-server
# DIRECTORY_BIND_USER=DOMAIN\\service-user
# DIRECTORY_BIND_PASSWORD=YOUR_DIRECTORY_BIND_PASSWORD
# DIRECTORY_BASE_DN=DC=example,DC=com
# DIRECTORY_AUTH_TYPE=NTLM
# DIRECTORY_INTEGRATED_AUTH=0
# DIRECTORY_USE_SSL=0
# DIRECTORY_SEARCH_SIZE=25
